* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/stonehaven.png");
    height: 130vh;
    position: relative;
}

.bordered {
    border: 3px sol slategray;
    background-color: #ADD9E6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
    color: slategray;
    margin-right:50px;
}

h2 {
    font-size: 30px;
    color:slategray;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: 30px;
}

a {
    color: slategray;
    text-decoration: none;
}

img {
    position: absolute;
    margin-left: 30px;
    border: 1px solid gainsboro;
    margin-right:15px;
    
}

p {
    line-height: 35px;
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
    color: slategray;
}

.page-title {
    border-bottom: solid 2px;
    text-align: left;
    margin-left:30px;
    margin-top: 30px;
    margin-right: 30px;
}
#contact-box,
#index-box {
    position: absolute;
    margin-top: 25vh;
    background-color: #ADD9E6;
    left: 50%;
    width: 960px;
    height: 360px;
    margin-left: -480px;
    border: 3px antiquewhite solid;
}

#contact-content,
#index-content {
    position: absolute;
    float: left;
    margin-top: 14px;
    margin-left:16px;
    height: 330px;
    width: 920px;
    background-color:antiquewhite;
    border: 3px gainsboro solid;
    overflow: auto;
}

#portfolio-box {
    position: absolute;
    left: 50%;
    background-color: #ADD9E6;
    width: 960px;
    height: 550px;
    margin-left: -480px;
    border: 3px antiquewhite solid;
    margin-top: 20vh;
}

#portfolio-content {
    position: absolute;
    margin-top: 14px;
    margin-left:16px;
    height: 520px;
    width: 920px;
    background-color:antiquewhite;
    border: 3px gainsboro solid;
}

.dog {
    position: relative;
    display: block;
    float: left;
    height: 175px;
    width: 175px;
}

.tom {
    margin-top: 14px;
    float: left;
    width:250px;
    background-color: antiquewhite;
    padding-left:20px;
}

.about{
    margin-top: 30px;
    float: right;
    margin-right: 5%;
}
.portfolio-link {
    margin-top: 30px;
    float: right;
    margin-right:2%;
    margin-left:2%;
}

.contact-link {
    margin-top: 30px;
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:antiquewhite;
    background-color: slategray;
    text-shadow: none;
    padding: 20px;
    border-top: 8px solid #ADD9E6;

}

header {
    position: fixed;
    margin-top: 0;
    bottom: 100;
    width:100%;
    padding: 0;
    margin: 0;
    z-index: 9;
    padding-bottom:10px;
    background-color:#ADD9E6;
}

.form {
    clear: both;
    padding-left: 20px;
    margin-top: 30px;
    color: slategray;
    font-weight: bold;
}

input[type=text] {
    width:820px;
    color: slategray;
}


input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
}

#messagebox {
    height: 65px;
}

.kels {
    position: relative;
    float: left;
}

img:hover {
    opacity: 0.25;
    
}

.kels:hover {
    opacity: 1;
}

.container {
    width:900px;
    margin-left: -450px;
    left: 50%;
    position: relative;
}

@media only screen and (max-width: 980px) {

    #contact-box,
    #index-box {
    position: absolute;
    margin-top: 25vh;
    background-color: #ADD9E6;
    left: 50%;
    width: 700px;
    height: 410px;
    margin-left: -450px;
    border: 3px antiquewhite solid;
    }

    #contact-content,
    #index-content {
    position: absolute;
    float: left;
    margin-top: 14px;
    margin-left:16px;
    height: 380px;
    width: 660px;
    background-color:antiquewhite;
    border: 3px gainsboro solid;
    overflow: auto;
    }

    #portfolio-box {
        position: absolute;
        left: 50%;
        background-color: #ADD9E6;
        width: 600px;
        height: 930px;
        margin-left: -450px;
        border: 3px antiquewhite solid;
        margin-top: 20vh;
    }
    
    #portfolio-content {
        position: absolute;
        margin-top: 14px;
        margin-left:16px;
        height: 900px;
        width: 560px;
        background-color:antiquewhite;
        border: 3px gainsboro solid;
    }

    input[type=text] {
        width: 580px;
        color: slategray;
    }

    .dog {
        margin-left:65px;
    }

    body {
        height: 200vh;
    }
}

    

@media only screen and (max-width: 768px) {

    #contact-box,
    #index-box {
        width: 90%;
        margin-top:200px;
        margin-left:5%;
        height: 440px;
        border: 3px antiquewhite solid;
        left: auto;
    }

    #contact-content,
    #index-content {
        width: 94%;
        height: 410px;
    }


    #portfolio-box {
        width: 90%;
        margin-top:200px;
        margin-left:5%;
        height: 930px;
        border: 3px antiquewhite solid;
        left: auto;
    }
    
    #portfolio-content {
        width: 94%;
        height: 410px;
        height: 900px;
    }

    input[type=text] {
        width: 550px;
        color: slategray;
    }

    .tom {
        float:none;
        margin-left:22.5%;
        width: 50%;
        text-align: center;
    }
    .about {
        float:left;
        text-align: center;
        margin-left: 30%;
    }
    .portfolio-link {
        float:left;
        text-align: center;
        margin-left:5%;
    }
    .contact-link {
        float:left;
        text-align: center;
        margin-left: 5%;
        margin-right:30%;
    }
    header {
        widows: 769px;;
        margin:0;
        padding:0;
    }
  
    .container {
        width: 100vw;
        margin:auto;
        left: 0;
    }

    body {
        height: 200vh;
    }

    .dog {
        margin-left:85px;
    }
    
}

@media only screen and (max-width: 640px) {
    #index-box,
    #contact-box {
        width: 90%;
        margin-top:200px;
        margin-left:5%;
        height: 560px;
        border: 3px antiquewhite solid;
        left: auto;
    }
    #index-content,
    #contact-content {
        width: 93%;
        height:520px;
    }

    #portfolio-box {
        width: 90%;
        margin-top:200px;
        margin-left:5%;
        height: 1800px;
        border: 3px antiquewhite solid;
        left: auto;
    }
    
    .dog {
        height:200px;
        width:300px;
    }
    #portfolio-content {
        width: 93%;
        height:1760px;
    }


    input[type=text] {
        width:470px;
        color: slategray;
    }

    .tom {
        float:none;
        margin-left:22.5%;
        width: 50%;
        text-align: center;
    }
    .about {
        float:left;
        text-align: center;
        margin-left: 28%;
    }
    .portfolio-link {
        float:left;
        text-align: center;
        margin-left:4%;
    }
    .contact-link {
        float:left;
        text-align: center;
        margin-left: 4%;
        margin-right:30%;
    }

    body {
        height: 300vh;
    }

    #messagebox {
        height: 200px;
    }

  
}


